html {background-color: #191919;}
p {color: #097786;}
p[content*="C418"] {color: #f6364d}

/*todo make screen with my nick that start being transparent 2 seconds after page loads*/

#screenlongenter {
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
}

/*
	background-color: black;
	visibility: visible;
	background-color: transparent;
	visibility: hidden;
*/

*::selection {
	color: #999;
	background-color: #0077D6;
}

/*sections*/
#top {
	position: fixed;
	top: 0;
	left: 0;
	background: url("https://f4.bcbits.com/img/a3216786508_1.jpg");
	background-size: 25%;
	height: 16vh;
	display: table;
	width: 100%
}

#middle {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 16vh;
	left: 0;
	width: 100%;
	height: 68vh;
	background-color: #191919;
	color: white;
	font-size: 250%;
}

#bottom {
	overflow: hidden;
	position: fixed;
	left: 0;
	bottom: 0;
	background: #242424;
	width: 100%
}


/*top*/
#top p {
	color: #62ec11;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	font-family: "Verdana";
	font-size: 9vh;
}


/*middle*/
#album-g {
	width: min(50vw, 50vh);
	margin: 0;
}

img#album-f {
	transistion-delay: 0.5s;
	transition-duration: 2.5s;
	transition-property: box-shadow;
	box-shadow: 0vh 0vh 0vw 0 rgb(214, 188, 7);
	width: min(50vw, 50vh);
	height: min(50vw, 50vh);
	user-select: none;
}

img#album-f:hover {
	transistion-delay: 0s;
	transition-duration: 0.5s;
	transition-property: box-shadow;
	box-shadow: 1vh 1vh 3vw 0 rgb(7, 188, 214);
}

#album-txt {
	width: 40vw;
	margin-left: 5vh;
	margin-right: 5vh;
}

#album-txt p {
	font-size: min(26px, 20dvh);
	font-family: Tahoma;
}


/*bottom*/
#tags {
	height: 4vh;
}

#tags .mtag {
	user-select: none;
	/*size of tag is "0.75*width/number_of_tags"*/
	/*size of margin is "0.125*width/number_of_tags"*/
	background-color: red;
	width: calc(75%/5);
	margin: calc(11%/5); /*11 instead 12.5*/
	margin-top: 0;
	margin-bottom: 0;
	display: inline-table;
}

#tags .mtag p {
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	background-color: #393939;
}

#releases {
    height: 12vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.release-icon {
	margin: 6.6vw;
	margin-top: 0;
	margin-bottom: 0;
	/*background-color: red;*/
	display: inline-block;
}

.release-icon a img {
	height: 5.9vw;
	width: 5.9vw;
	overflow: auto;
}

.release-icon a img:hover {
	transition-duration: 0.5s;
	transition-property: box-shadow;
	box-shadow: 0 0 3vw 0 rgb(7, 188, 214);
}

#ab-l {left: 0 !important;}
#ab-r {right: 0 !important;}

.ab {
	transistion-delay: 0.5s;
	width: 6vw; /*3vw dont work correctly*/
	height: 100vh;
	position: absolute;
	top: 0;
	background-color: transparent;
}

.ab:hover {
	transition-duration: 0.15s;
	background-color: #363636;
	/*width: 6vw;*/
}



.ab p {
	text-align: center;
	font-size: 2dvw;
	visibility: hidden;
	color: transparent;
}

.ab:hover p {
	transition-delay: 0.1s;
	transition-duration: 0.5s;
	color: #097786;
	visibility: visible;
}

.ab .fa-brands {
	visibility: hidden;
	font-size: 5vw;
}
.ab:hover .fa-brands {
	visibility: visible;
}




.fa-twitter {color: rgb(29, 155, 240);}
.fa-mastodon {color: #8c8dff;}
.fa-bandcamp {color: rgb(29, 160, 195);}
.fa-youtube {color: #f00;}
.fa-github {color: white;}
