.animation {
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
}

/*----------------animations----------------*/

@keyframes slideInFromLeft {
  0% { transform: translateX(-100%); } 100% { transform: translateX(0); }
}

@keyframes slideInFromRight {
  0% { transform: translateX(100%); } 100% { transform: translateX(0); }
}

@keyframes slideInFromUp {
  0% { transform: translateY(-100%); } 100% { transform: translateY(0); }
}

@keyframes slideInFromDown {
  0% { transform: translateY(100%); } 100% { transform: translateY(0); }
}

/*----------------classes----------------*/

.slideLeft { animation-name: slideInFromLeft; }
.slideRight { animation-name: slideInFromRight; }
.slideUp { animation-name: slideInFromUp; }
.slideDown { animation-name: slideInFromDown; }

/*----------------timings----------------*/
.t1 { animation-duration: 1s; }
.t2 { animation-duration: 2s; }
.t5 { animation-duration: 5s; }
