.animation {
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

/*----------------animations----------------*/

@keyframes slideInFromLeft {
  0% { transform: translateX(-100vw); } 100% { transform: translateX(0); }
}

@keyframes slideInFromRight {
  0% { transform: translateX(100vw); } 100% { transform: translateX(0); }
}

@keyframes slideInFromTop {
  0% { transform: translateY(-100vh); } 100% { transform: translateY(0); }
}

@keyframes slideInFromDown {
  0% { transform: translateY(100vh); } 100% { transform: translateY(0); }
}

/*----------------classes----------------*/

.slideLeft { animation-name: slideInFromLeft; }
.slideRight { animation-name: slideInFromRight; }
.slideTop { animation-name: slideInFromTop; }
.slideDown { animation-name: slideInFromDown; }

/*----------------timings----------------*/
.t1 { animation-duration: 1s; }
.t2 { animation-duration: 2s; }
.t5 { animation-duration: 5s; }

/*----------------delays----------------*/
.dr { animation-delay: 128s; } /*dr class is defined by e.js, delay is set so high so js have time to set it before it start playing*/
.d1 { animation-delay: 1s; }
.d2 { animation-delay: 2s; }
.d5 { animation-delay: 5s; }

/*----------------bg color----------------*/

.random-bg {
  background-color: var(--random-bg-color);
}
