#top {
	position: fixed;
	top: 0;
	left: 0;
	background: url("https://f4.bcbits.com/img/a3216786508_1.jpg");
	background-size: 25%;
	height: 16vh;
	display: table;
	width: 100%
}

#top p {
	color: #62ec11;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	font-family: "Verdana";
	font-size: 9vh;
	user-select: none;
}
