html {
  background-color: #191919;
}

a, p {
  color: #097786;
  font-width: 2vh;
  text-decoration: none;
}

*::selection {
  color: #999;
  background-color: #0077D6;
}

body {
  background: url("https://f4.bcbits.com/img/a1300888331_10.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
}

#pg {
  border: solid 2px #097786;
  width: 40vw;
  height: 50vh;
  display: grid; /*this is so items are not in one line*/
  grid-auto-rows: min-content;
}

#pg a {
  position: relative;
  margin: 5px;
  margin-top: 0;
  margin-bottom: 0;
}
