#loader-page {
	background-color: black;
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#loader-page p {
	text-align: center;
	color: white;
	font-size: 10vh;
	margin: 0;
}

#txl {
	font-size: 3vh !important;
/*	transform: translateX(0) translateY(-25vh);*/
}

.tz {
	z-index: 1000;
}
