@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

html {background-color: #191919;}
p {color: #097786;}
p[content*="C418"] {color: #f6364d}
a {text-decoration: none;}

/*todo make screen with my nick that start being transparent 2 seconds after page loads*/

#screenlongenter {
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
}

/*
	background-color: black;
	visibility: visible;
	background-color: transparent;
	visibility: hidden;
*/

*::selection {
	color: #999;
	background-color: #0077D6;
}

#middle {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 16vh;
	left: 0;
	width: 100%;
	height: 68vh;
	background-color: #191919;
	color: white;
	font-size: 250%;
}

#album-g {
	width: min(50vw, 50vh);
	margin: 0;
}

img#album-f {
	transistion-delay: 0.5s;
	transition-duration: 2.5s;
	transition-property: box-shadow;
	box-shadow: 0vh 0vh 0vw 0 rgb(214, 188, 7);
	width: min(50vw, 50vh);
	height: min(50vw, 50vh);
	user-select: none;
}

img#album-f:hover {
	transistion-delay: 0s;
	transition-duration: 0.5s;
	transition-property: box-shadow;
	box-shadow: 1vh 1vh 3vw 0 rgb(7, 188, 214);
}

#album-txt {
	width: 40vw;
	margin-left: 5vh;
	margin-right: 5vh;
}

.at-txt {
	font-size: min(26px, 20dvh);
	font-family: Tahoma;
}

.linkbetter {
	text-decoration: none;
}


#ab-l {left: 0 !important;}
#ab-r {right: 0 !important;}

.ab {
	transistion-delay: 0.5s;
	width: 6vw; /*3vw dont work correctly*/
	height: 100vh;
	position: absolute;
	top: 0;
	background-color: transparent;
}

.ab:hover {
	transition-duration: 0.15s;
	background-color: #363636;
	/*width: 6vw;*/
}



.ab > p, .ab > a > p {
	text-align: center;
	visibility: hidden;
	color: transparent;
}

.ab > p {
	font-size: 2dvw;
}

.ab:hover > p, .ab:hover > a > p {
	transition-delay: 0.1s;
	transition-duration: 0.5s;
	color: #097786;
	visibility: visible;
}

.ab .fa-brands {
	visibility: hidden;
	font-size: 4vw;
	width: 100%;
	text-align: center;
}
.ab:hover .fa-brands {
	visibility: visible;
}


.fa-twitter {color: rgb(29, 155, 240);}
.fa-mastodon {color: #8c8dff;}
.fa-bandcamp {color: rgb(29, 160, 195);}
.fa-youtube {color: #f00;}
.fa-github {color: white;}
.fa-discord {color: #7289d9;}
.fa-spotify {color: #1DB954;}

#album-s {
	margin-bottom: 1.5vh;
	width: min(50vw, 50vh);
	height: min(50vw, 50vh);
	box-shadow: 12px 12px 20px 0px black;
}

.ab-l > a > p {
	text-align: center;
	font-size: 0.75dvw !important;
	color: #097786;
	visibility: hidden;
	color: transparent;
}

.ab-l:hover a > p {
	transition-delay: 0.1s;
	transition-duration: 0.5s;
	visibility: visible;
}

.pixelated {
	font-family: 'Silkscreen', cursive;;	
}
